  
  .warning_msg{
    font-weight: bold;
    color: #da0505;
    text-align: center;
    padding: 20px;
  }
  body{
    margin: 0 0 var(--header-height)0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  .portfolio_gallery_main {
    padding-top: 100px;
    max-width: 1000px;
    margin: auto;
  }
  .gallery_container{
    max-width: 1170px;
    margin:auto;
  }
  .portfolio_gallery_row{
    display: flex;
    flex-wrap: wrap;
  }

  .gallery .portfolio_gallery_filter .portfolio_filter_item.active,
  .gallery .portfolio_gallery_filter.portfolio_filter_item:hover{
      color: var(--first-color);
      border-color: var(--first-color);
  }
  /*------------------------- Variable dark theme color -----------------*/
  body.dark-theme{
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
  }

  /*------------------------- Button Dark/Light -------------------------*/
  .nav_btns{
    display: flex;
    align-items: center;
  }

  .change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
  }

  .change-theme:hover{
    color: var(--first-color);
  }
  img{
    max-width: 100%;
    vertical-align: middle;
  }
  /*.gallery*/
  .gallery{
    width: 100%;
    display: block;
    min-height: 100vh;

    padding: 100px 0;
  }
  .gallery .portfolio_gallery_filter{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .gallery .portfolio_gallery_filter .portfolio_filter_item{
    color: #8d8c8c;
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
  }
 
  .gallery .portfolio_gallery_item{
    width: calc(100% / 3);
    padding: 15px;
  }
  .gallery .portfolio_gallery_content img{
    width: 100%;
  }
  .gallery .portfolio_gallery_item.show{
    animation: fadeIn 0.5s ease;
  }
  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  .gallery .portfolio_gallery_item.hide{
    display: none;
  }
  
  /*responsive*/
  @media(max-width: 991px){
    .gallery .portfolio_gallery_item{
      width: 50%;
    }
  }
  @media(max-width: 767px){
      .gallery .portfolio_gallery_item{
      width: 100%;
    }	
    .gallery .portfolio_gallery_filter .portfolio_filter_item{
      margin-bottom: 10px;
    }
  }
  